/.CFUserTextEncoding
/.DS_Store
/.Trash
/.adobe
/.anaconda
/.bash_history
/.bash_profile
/.bash_sessions
/.chatgpt
/.conda
/.condarc
/.config
/.continuum
/.cups
/.lesshst
/.tcshrc
/.thumbnails
/.vscode
/.xonshrc
/.zshrc
/02-1584452788440@2x.jpeg
/115982_Side_Profile_Web.jpg
/149601_ (1).webp
/149601_.webp
/2020-chevrolet-corvette-lead2-1571234772.jpeg
/ACRCCP701PF001_IG_Green-Star-2013.pdf
/Acura-Integra-2023-1600-06.jpeg
/Acura-Precision_EV_Concept-2022-1600-01.jpeg
/Acura-Precision_EV_Concept-2022-1600-05.jpeg
/Acura-ZDX-2010-1600-0b.jpeg
/AllEV
/AndreaBelangerACCard.jpg
/Applications
/Bentley-Continental_GTC_S-2023-1600-02.jpeg
/Bentley-Continental_GT_V8_Equinox_Edition-2021-1600-01.jpeg
/Bentley-Mulliner_Batur-2023-1600-01.jpeg
/Buick-Envision-2021-1600-02.jpeg
/Cadillac-Celestiq_Concept-2022-1600-02.jpeg
/Campus-Card-Mockup-Final_22.04.22.png
/Capbadge.jpeg
/Card Design - Student Front myAC.jpeg
/Chevrolet-Blazer-2002-1600-01.jpeg
/Chevrolet-Blazer_EV-2024-1600-06.jpeg
/Chevrolet-Trax-2024-1600-03.jpeg
/Chrysler-Pacifica-2021-1600-08.jpeg
/Creative Cloud Files
/Creative Cloud Files savonsbullesbelanger@gmail.com 78c646b37eb5c76a283986398c7cbac21d8eef921b3d458c232e928c16bc46f1
/Cupra-Born-2022-1600-01.jpeg
/Cupra-UrbanRebel_Concept-2022-1600-02.jpeg
/DS-3-2023-1600-02.jpeg
/Default.jpeg
/Desktop
/Documents
/Dodge-Caravan-1996-1600-01.jpeg
/Dodge-Charger_Daytona_SRT_Concept-2022-1600-02.jpeg
/Dodge-Charger_Scat_Pack_Widebody-2020-1600-01.jpeg
/Dodge-Durango_SRT_Hellcat-2021-1600-09.jpeg
/Downloads
/EOM121.05.pdf
/EOM222.01.pdf
/Fiat200Concept.jpeg
/Ford-Capri_RS2600-1971-1600-01.jpeg
/Ford-Ford_GT_Alan_Mann_Heritage_Edition-2022-1600-03.jpeg
/Ford-Mustang-2024-1600-01.jpeg
/Ford-Mustang_GT-2024-1600-03.jpeg
/GMC-Hummer_EV_SUV-2024-1600-01.jpeg
/Harvard Photos
/Honda-HR-V_US-Version-2023-1600-09.jpeg
/Honda-Jazz-2020-1600-03.jpeg
/Hyundai-Ioniq_6-2023-1600-03.jpeg
/IMG_4593.jpeg
/Infiniti-QX30-2017-1600-02.jpeg
/Infiniti-QX60-2022-1600-05.jpeg
/Kia-Telluride-2023-1600-0f.jpeg
/Kia-Telluride_Concept-2016-1600-01.jpeg
/Kia-Telluride_Concept-2016-1600-06.jpeg
/Lexus-RZ_450e-2023-1600-01.jpeg
/Library
/MJKJDeviceGUID
/Mamaammacrimidal.jpg
/McLaren-650S_Spider_Al_Sahara_79_by_MSO-2016-1600-03.jpeg
/Movies
/Music
/Oldsmobile-symbol-1996-1920x1080 (1).png
/Oldsmobile-symbol-1996-1920x1080.png
/Page1.png
/Page2.png
/Page3.png
/Page4.png
/Page5.png
/Page6.png
/Page7.png
/Page8.png
/Pictures
/Portfolio Captions - Google Docs.pdf
/Portfolio Captions pdf.pdf
/Public
/QueensOwnCameronHighlandersCanada.jpeg
/S22_3435_fine_fxgl2f.jpeg
/Saab-logo-2000-1280x1024.png
/SantiFakeCard.jpg
/Saturn-symbol-1985-3600x4000.png
/Screen-Shot-2022-05-10-at-4.18.31-PM-e1652225162554.webp
/ShipIcon.png
/ShipIconTrans.png
/Sites
/Skoda-Enyaq_iV-2021-1600-55.jpeg
/Skoda-Fabia-2022-1600-05.jpeg
/Smart-1-2023-1600-05.jpeg
/Smart-EQ_fortwo-2020-1600-01.jpeg
/VOV
/Volkswagen-ID.3_1st_Edition-2020-1600-01.jpg
/Volkswagen-ID.5_GTX-2022-1600-0b.jpg
/Volkswagen-ID_Buzz-2023-1600-6d.jpeg
/Volkswagen-Phaeton_D2_Concept-2016-1600-03.jpeg
/Volvo-C30-2010-1600-05.jpeg
/Volvo-C40_Recharge-2022-1600-02.jpeg
/Volvo-XC40_Recharge-2023-1600-01.jpeg
/White_maple_leaf_symbol.png
/a.jpg
/cameron-highlanders-of-ottawa-flag.png
/card.webp
/credencial-travesias-2022 (1).pdf
/download.jpeg
/index.html
/naupo2ylofp71.webp
/opt
/pontiac-5d1cd1ce64859956c40485183dc68cfc56353aeda7f78c87784838d69ef28eee.svg
/santiagobelanger.code-workspace
/some.file
/v227_UB487_20060106_badge.jpg